body {
  margin: 0;
  font-family: "Fira Code", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

tr, th {
  background: rgb(23,30,40) !important;
  color: white !important;
}

.ant-empty div {
  color: white !important;
}

.ant-table-placeholder:hover {
  background-color: rgb(23,30,40) !important;
}

.ant-table-placeholder:hover>td {
  background-color: unset !important;
}