.fromCurrency, .toCurrency {
    padding: 24px;
    background-color: rgba(23,30,46,0.8);
    border-radius: 24px;
    border: 1px solid rgba(55, 65, 81, 0.8);
    display: flex;
    align-items: center;
    height: 120px;
    position: relative;
    transition: border-color 0.2s;
}

.fromCurrency:hover, .toCurrency:hover {
    border-color: rgba(55, 65, 81, 1)
}

.fromCurrency::after, .toCurrency::after {
    content: '';
    border: 1px solid rgba(55, 65, 81, 0.8);
    position: absolute;
    height: 120px;
    right: 170px
}

.indicator {
    font-weight: 600;
    position: absolute;
    top: 16px;
    left: 32px;
}

.balanceBox {
    width: 140px;
}
.balance {
    color: #999999;
    font-size: 12px;
    width: 100%;
}
.maxSwap {
    padding: 0 4px;
    width: 35px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    border-radius: 8px;
    margin-top: 4px;
    background-color: #0070f3;
}
.swapBtn > svg {
    font-size: 24px;
    color: #fff;
}
/*:global .ant-input {*/
/*    flex-grow: 2;*/
/*}*/
/*:global .ant-select-selector {*/
/*    background-color: rgb(23,30,46) !important;*/
/*    color: #fff !important;*/
/*}*/

/*:global .ant-select-arrow svg {*/
/*    color: #fff !important;*/
/*}*/