.fromCurrency, .toCurrency {
    padding: 24px;
    background-color: rgba(23,30,46,0.8);
    border-radius: 24px;
    display: flex;
    align-items: center;
    height: 120px
}

.balanceBox {
    width: 140px;
}
.balance {
    color: #999999;
    font-size: 12px;
    width: 100%;
}
.maxSwap {
    padding: 0 4px;
    width: 35px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    border-radius: 8px;
    margin-top: 4px;
    background-color: #0070f3;
}
.swapBtn > svg {
    font-size: 24px;
    color: #fff;
}
/*:global .ant-input {*/
/*    flex-grow: 2;*/
/*}*/
/*:global .ant-select-selector {*/
/*    background-color: rgb(23,30,46) !important;*/
/*    color: #fff !important;*/
/*}*/

/*:global .ant-select-arrow svg {*/
/*    color: #fff !important;*/
/*}*/